# CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*
/bin/*
composer.lock

# Ignore JavaScript libraries
/webroot/lib/ext-3.3.0
/webroot/lib/leaflet-*
# Ignore compiled translation files
*.mo

# Ignore Bootstrap and JQuery
/webroot/css/bootstrap*
/webroot/lib/bootstrap*
/webroot/fonts/
/webroot/lib/jquery*
/webroot/lib/npm.js
